@model SustainableRoutePlanner.Models.Route

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-2">Routen</h1>

<h4 class="display-7">Start: @Model.DepartureAdress</h4>
<h4 class="display-7">Ziel: @Model.ArrivalAdress</h4>

<!-- only one-->
<h4 class="display-7">Abfahrt: @Model.DepartureTime</h4>
<h4 class="display-7">Ankunft: @Model.ArrivalTime</h4>





<h3 class="display-4">Auto</h3>

<h5 class="display-8">Dauer: @Model.CarRoute.Duration min</h5>
<h5 class="display-8">Distanz: @Model.CarRoute.Distance km</h5>
<h5 class="display-8">Abfahrt: @Model.CarRoute.DepartureTime</h5>
<h5 class="display-8">Ankunft: @Model.CarRoute.ArrivalTime</h5>

<h4 class="display-7">Emissionen</h4>
<h6 class="display-8">CO2 Equivalent: @Model.CarRoute.RouteEmissions.CO2Equivalent g/km</h6>
<h6 class="display-8">CO2: @Model.CarRoute.RouteEmissions.CO2 g/km</h6>
<h6 class="display-8">NOX: @Model.CarRoute.RouteEmissions.NOX g/km</h6>
<h6 class="display-8">PM10: @Model.CarRoute.RouteEmissions.PM10 g/km</h6>

<img src="~/Maps/@Model.CarRoute.Id .png" alt="Car route map"/>

<h2>Öffentliche Verkehrsmittel</h2>

<h2>Fahrrad</h2>